* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FAF8EF;
    display: flex;
    justify-content: center;
    font-family: clear sans, helvetica neue, Arial, sans-serif;
    font-size: 18px;
    height: 100vh;
}

#board-body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 72px;
    text-align: center;
    color: #776e65;
    margin: 0;
  }
  
  .score, .best-score {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .score span, .best-score span {
    font-size: 24px;
    color: #776e65;
    margin-right: 10px;
  }
  
  #current-score, #best-score {
    font-size: 36px;
    color: #ffffff;
    background-color: #bbada0;
    padding: 10px;
    border-radius: 5px;
  }

.scores-container{
    display: flex;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;

}


#header {
    padding: 2em;
}

h1 {
    font-size: 5em;
    font-weight: bold;
    color: #776e65;
    font-weight: 700;

}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    color: #776E65;
}

h3 {
    font-size: 1em;
    font-weight: bold;
    color: #776E65;
}


a {
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    border-radius: 0.5em;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    color: #776E65; 
}
.link img {
    filter: brightness(70%);
    transition: all 0.5s ease;
}

.link:hover img {
    filter: brightness(100%);
}

#grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(120px, 1fr));
    gap: 20px;
    width: 80%;
    max-width: 800px;
}

button {
    padding: 10px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    background-color: #8F7A66;
    color: #fff;
    cursor: pointer;
}

@media (max-width: 600px) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
        gap: 10px;
    }

    header{
        flex-direction: column;
    }

    button {
        padding: 8px;
        font-size: 1rem;
    }
}

#board-case {
    padding: 1em;
    margin: 3em;
    background-color: #dbbca0;
    border-radius: 1em;
}

#game-board {
    --cell-count: 0;
    --cell-size: 15vmin;
    --cel-gap: 1vmin;
    position: relative;
    display: grid;
    grid-template-columns: repeat(var(--cell-count), var(--cell-size));
    grid-template-rows: repeat(var(--cell-count), var(--cell-size));
    gap: var(--cel-gap);
    border-radius: 1vmin;


}

.cell {
    background-color: #92816e;
    border-radius: var(--cel-gap);
}

.tile {

    position: absolute;
    top: calc(var(--y) * (var(--cell-size) + var(--cel-gap)));
    left: calc(var(--x) * (var(--cell-size) + var(--cel-gap)));
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--cell-size);
    height: var(--cell-size);
    border-radius: var(--cel-gap);
    font-size: 4vmin;
    font-weight: bolder;
    background-color: hsl(25, 60%, var(--bg-lightness));
    /* */
    color: hsl(20, 25%, var(--text-lightness));
    transition: 250ms;
    animation: show 200ms;

}

@keyframes show {
    0% {
        opacity: 0.5;
        transform: scale(0);
    }
}