*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#game-board{
    --cell-count: 0;
    --cell-size: 15vmin;
    --cel-gap: 1vmin;
    position: relative;
    display: grid;
    grid-template-columns: repeat(var(--cell-count),var(--cell-size));
    grid-template-rows: repeat(var(--cell-count), var(--cell-size));
    gap: var(--cel-gap);
    border-radius: 1vmin;
}

.cell{
    background-color: #444;
    border-radius: 1vmin;
}
.tile{
    --x: 0;
    --y: 0;
    position: absolute;
    top: calc(var(--y) * (var(--cell-size) + var(--cel-gap)));
    left: calc(var(--x) * (var(--cell-size) + var(--cel-gap)));
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--cell-size);
    height: var(--cell-size);
    border-radius: var(--cel-gap);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5vmin;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    color: #000;
    transition: 100ms;
    animation: show 200ms;

}
@keyframes show {
    0% {
        opacity: 0.5;
        transform: scale(0);
    }
}




